.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section::-webkit-scrollbar {
  width: 5px;
}

.section::-webkit-scrollbar-track {
  background-color: #ffffff00;
  border-radius: 50px;
}

.section::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #9b9aa3;
}
.tracks[type='radio']:checked + div {
  background: #f0f3f9;
}

#sortby {
  background: #f0f3f9 url('./assets/SearchArrowDown.svg') no-repeat;
  background-position: right 20px top 50%;
  -webkit-appearance: none;
}
.fghjbv {
  --tw-shadow: var(--box-shadow-sm);
  --tw-shadow-colored: var(--box-shadow-sm);
  align-items: center;
  background-clip: padding-box, border-box;
  background-color: var(--backgroundColorA);
  background-image: linear-gradient(#fff, #fff), linear-gradient(#20f, #9e00ff);
  background-image: linear-gradient(#130b43, #130b43), linear-gradient(#9e00ff, #20f);
  background-origin: border-box;
  border: 3px solid transparent;
  border-radius: 100px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  color: #fbfcfe;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 200%;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
